.ontrakDataSheet
 {
 	font-family: Arial;
	font-size:small;
	font-weight: normal;
   	color: #000000;
   	background-color:#F5F5F5
 }
table.ontrakDataSheet
 {
 	border-collapse:collapse;
 }
table.ontrakDataSheet td
 {
	 border: 1px solid #506384;
 }

.ontrakZTableSetup {
	border-width: 0;
	border-style: solid solid solid solid ; border-width: 0px; border-color: #000000;
}
.ontrakPageHeader {
	
	height: 92px; 
	background-image: url('Eds/images/Header_03.jpg'); 
	background-repeat: no-repeat;
}

.ontrakSectionTitle_B{
	background-image: url('Eds/images/titlebar_B_05.jpg');
	background-repeat: repeat-y; 
	background-color:  #506384;
}
.ontrakSectionTitle_BH{
	
	background-image: url('Eds/images/titlebar_UP_B_01.jpg');
	background-repeat: repeat-x; 
	
}

.ontrakSectionTitle_C{
	background-image: url('Eds/images/titlebar_B_05.jpg');
	background-repeat: repeat-y; 
	background-color: #506384;

	
	}
	
.ontrakGalleryBackgroundLR{
	
	background-image: url('Eds/images/titlebar_UP_B_01.jpg');
	background-repeat: repeat-x; 
	
}

.ontrakGalleryBackgroundUD{
	background-image: url('Eds/images/titlebar_B_05.jpg');
	background-repeat: repeat-y; 
	background-color: #506384;

	
	}

.ontrakMenuBar {
	text-align: center;
	font-family: Arial;
	font-weight: bolder;
	font-size: small;
	
}
a.ontrakMenuBar:link { color:white; text-decoration: none;font-family: Verdana;	font-size: small; font-weight:bold;   } 
a.ontrakMenuBar:visited {color:white;text-decoration: none;font-family: Verdana;	font-size:small; font-weight:bold;   } 
a.ontrakMenuBar:hover {color:  #DE8C22;text-decoration: none ;font-family: Verdana;	font-size:small; font-weight:bold;  } 
a.ontrakMenuBar:active {color:#DE8C22;text-decoration: none;font-family: Verdana;	font-size:small; font-weight:bold;   } 

.ontrakMenuBarGFX{
	font-size: medium;
	background-color: #506384 ;
	background-repeat:no-repeat;
	

}
.ontrakHeading_01 {
	font-variant: small-caps ;
	font-family: Arial;
	font-size:medium;
	font-weight:bold;
   	color: #000000;
	border-style: none none solid none; border-width: 2px; border-color: #506384;
   	
}
.ontrakHeading_02 {
	font-variant: small-caps ;
	font-family: Verdana;
	font-size:medium;
	font-weight: bolder;
   	color: #000000;
	border-style: none none solid none; border-width: 2px; border-color: #DE8C22;

}


.ontrakMainTheme{
	font-family: Arial;
	font-size:small;
	font-weight: normal;
   	color: #000000;
}

a.ontrakMainTheme:link { color:#506384; text-decoration: underline;font-family: Arial;	font-size: small; font-weight:bold;   } 
a.ontrakMainTheme:visited {color:#506384;text-decoration: underline;font-family: Arial;	font-size:small; font-weight:bold;   } 
a.ontrakMainTheme:hover {color:#DE8C22;text-decoration:	underline ;font-family: Arial;	font-size:small; font-weight:bold;  } 
a.ontrakMainTheme:active {color:#506384;text-decoration: underline;font-family: Arial;	font-size:small; font-weight:bold;   } 

a.ontrakProductBoxSelector:link { color:#FFFFFF; text-decoration: none;font-family: Arial;	font-size: small; font-weight:bold; background-color:#506384 ;padding: 1px; margin: 1px;} 
a.ontrakProductBoxSelector:visited {color:#FFFFFF;text-decoration: none;font-family: Arial;	font-size:small; font-weight:bold; background-color:#506384 ;padding: 1px; margin: 1px;} 
a.ontrakProductBoxSelector:hover {color:#FFFFFF;text-decoration: none;font-family: Arial;	font-size:small; font-weight:bold; background-color:#DE8C22;padding: 1px; margin: 1px;} 
a.ontrakProductBoxSelector:active {color:#FFFFFF;text-decoration: none;font-family: Arial;	font-size:small; font-weight:bold;  background-color:#DE8C22;padding: 1px; margin: 1px;} 

a.ontrakProductLinks:link { color:#506384; text-decoration: none;font-family: Verdana;	font-size: small; font-weight:bold;   } 
a.ontrakProductLinks:visited {color:#506384;text-decoration: none;font-family: Verdana;	font-size:small; font-weight:bold;   } 
a.ontrakProductLinks:hover {color:#DE8C22;text-decoration:	underline ;font-family: Verdana; font-size:small; font-weight:bold;  } 
a.ontrakProductLinks:active {color:#DE8C22;text-decoration: underline;font-family: Verdana;	font-size:small; font-weight:bold;   } 



a.ontrakDownloadSelector:link { color:#ffffff; text-decoration: none;font-family: Arial;	font-size:x-small; font-weight:bold; background-color:#000000;padding: 1px; margin: 1px;} 
a.ontrakDownloadSelector:visited {color:#ffffff;text-decoration: none;font-family: Arial;	font-size:x-small; font-weight:bold; background-color:#000000;padding: 1px; margin: 1px;} 
a.ontrakDownloadSelector:hover {color:#FFFFFF;text-decoration: none;font-family: Arial;	font-size:x-small; font-weight:bold; background-color:#DE8C22;padding: 1px; margin: 1px;} 
a.ontrakDownloadSelector:active {color:#FFFFFF;text-decoration: none;font-family: Arial;	font-size:x-small; font-weight:bold;  background-color:#DE8C22;padding: 1px; margin: 1px;} 

.ontrakProductBox {
    border: 1px solid #CCCCCC;
    background-image: url('Eds/images/showcaseBox_05.jpg'); 
    background-repeat: no-repeat; 
    height: 220px; width: 330px;
	}
.ontrakProductTable {
    border: 0px solid #CCCCCC;
    background-repeat: no-repeat; 
    height: 220px; width: 330px;
	}
.ontrakProductTablePicture {
    background-repeat: no-repeat; 
    height: 100px; width: 295px;    
	}
.ontrakProductTableText_X8 {
    background-repeat: no-repeat; 
    height: 160px; width: 100%;    
	}

.ontrakProductTableText {
    height: 20px; width: 100%;    
	}
.ontrakProductTableText_X2 {
    height: 40px; width: 100%;    
	}
.ontrakProductTableText_X3 {
    height: 60px; width: 100%;    
	}

.ontrakProductTableCert_On {
    width: 32px;  height: 32px  
	}
.ontrakProductTableCert_Off {
    height: 0px; width: 0px;  
	}



.ontrakProductBox_II {
    background-repeat: no-repeat; 
    background-color:#FFFFFF;
    height: 100%; width: 100%;
	}

.ontrakRighJust {
	text-align: right;
}

.ontrakFooter {
	text-align: center;
	font-family: Arial;
	font-size:small;
	font-weight: bold;
   	color: #FFFFFF;

}

#blanket {
 background-color:#111;
 opacity: 0.65;
 filter:alpha(opacity=65);
 position:absolute;
 z-index: 9001;
 top:0px;
 left:0px;
 width:100%;
 }
  
 #popUpDiv {
 position: absolute;
 background-color:#eeeeee;
 width:300px;
 height:300px;
 z-index: 9002;
}


a {
	color: #506384;
}
a:visited {
	color: #506384;
}
a:hover {
	color: #DE8C22;
}
